body {
    background-color: white;
    font-family: "Garamond", serif;
}

section {
    background-color: grey;
}

section .title {
    background-color: yellow;
    width: 80px;
}


/* Desktop */

@media (min-width:992px) {
    body {
        background-color: brown;
    }
    section {
        width: 30%;
    }
}


/* Tablet */

@media (min-width:682px) and (max-width:991px) {
    body {
        background-color: black;
    }
}


/* mobile */

@media (max-width:681px) {
    body {
        background-color: green;
    }
}
